.TogglePassword--toggleBtn {
    color: #fff;
    padding: 8px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #3d348b;
    box-shadow: 0 3px 1px -2px #ccc, 0 2px 2px 0 #ccc, 0 1px 5px 0 #ccc;
}
.TogglePassword--toggleBtn:hover {
    background-color: #fff;
    color: #3d348b;
    border: 1px solid #3d348b;
    box-shadow: 0 3px 4px 2px #ccc, 0 2px 2px 0 #ccc, 0 1px 5px 0 #ccc;
}
.TogglePassword--toggleBtn:active {
    top: 2px;
    box-shadow: 0 4px 2px -3px #ccc, 0 4px 5px 1px #ccc, 0 2px 7px 1px #ccc;
}